        /* RESPONSIVE */
        
        @media (max-width: 991px) {
            .titleSede p {
                font-size: 15px;
            }
        }
        
        @media (max-width: 768px) {
            .contenedorVideo {
                display: none;
            }
            .contSede {
                display: none;
            }
            .card.alt .toggle {
                display: none;
            }
            .whyZegel h1 {
                height: 100px;
                display: flex;
                align-items: center;
            }
            .contSedeMobile {
                height: 200px;
                display: flex;
                background-color: #FFF;
            }
            .hero {
                min-height: 300px;
            }
        }
        
        @media (max-width:600px) {
            .contSedeMobile {
                height: 250px;
                align-items: center;
                padding-bottom: 2em;
            }
            .addressSede {
                height: auto;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            .titleInternaSede {
                height: 140px;
            }
            .addressSede p {
                font-size: 21px;
                text-align: left;
            }
            .titleInternaSede h2 {
                font-size: 30px;
            }
            .titleInternaSede h1 {
                font-size: 40px;
            }
            .caption-dudas-responsive {
                display: block;
            }
        }
        
        @media (max-width: 500px) {
            .menu {
                height: 100px;
            }
            .logo {
                width: 40%;
            }
            .productoCarreras {
                height: 520px;
            }
            .productoEjecutiva {
                height: 350px;
            }
            .contSedeMobile {
                height: 300px;
            }
            .contenedorFormulario {
                max-width: 100%;
            }
            .whyZegel {
                width: 100%;
                height: 400px;
                justify-content: center;
                display: flex;
                flex-direction: column;
            }
            .card:first-child {
                display: none;
            }
            .card .input-container {
                position: relative;
                margin: 0 30px 20px;
            }
            .card .title {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 0;
                justify-content: center;
            }
            .card .button-container {
                margin: 0;
            }
            .checkbox {
                margin: 0 30px 20px;
            }
            .card {
                padding: 40px 0 40px 0;
            }
            .whyZegel h1 {
                font-size: 30px;
            }
            .years {
               display: none;
            }
        }
        
        @media (max-width: 360px) {
            .years {
                display: none !important;
            }
            .menu {
                height: 50px;
            }
            .logo img {
                max-width: 45%;
            }
            .productoCarreras {
                height: 560px;
            }
            .productoEjecutiva {
                height: 350px;
            }
            .productoCGT {
                height: 280px;
            }
            .whyZegel p {
                font-size: 15px;
            }
            .carreras h1 {
                font-size: 24px;
            }
            .listaProductos ul li {
                font-size: 14px;
            }
        }
        
        @media (max-width: 500px) {}
        
        @media (max-width: 360px) {}
        
        @media screen and (min-width: 320px) and (max-width: 568px) {}
        
        @media screen and (min-width: 375px) and (max-width: 667px) {}
        
        @media screen and (min-width: 414px) and (max-width: 736px) {}
        
        @media (max-width: 1199px) {}
        
        @media screen and (min-width: 768px) and (max-width: 1024px) {}
        
        @media (max-width:767px) {}
        
        @media (max-width: 500px) {}
        
        @media screen and (max-width: 375px) {}
        
        @media screen and (max-width: 400px) {}
        
        @media only screen and (min-width:1366px) and (min-height: 768px) {
            /* HERO */
            .hero {
                height: 600px;
            }
        }
        
        @media only screen and (min-width:1024px) and (min-height: 1366px) {
            /* HERO */
            .card.alt .toggle {
                display: none;
            }
        }
        
        @media only screen and (min-width:1400px) and (min-height: 900px) {}
        
        @media only screen and (min-width:2000px) and (min-height: 1200px) {}
        
        @media only screen and (min-width:1600px) and (min-height: 1200px) {}
        
        @media only screen and (min-width:1920px) and (min-height: 1080px) {}